/*CSS document*/

/* html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit;}



*/

img {
	width: 100%;
	display: block;
}

body {
	background-color: #FAF9F6; /* Not totally white. */
	color: #363636;  /* Not totally black. */
	line-height: 140%; 	/* A little extra leading. */
	font-family: "massilia", sans-serif;
}

h1 {
	background-color: #999AA9;
	color: #FAF9F6; /* Same as body background. */
	font-size: 35px;
	padding: 1em 2em 1em 0.5em; /* You want three values. */
    margin: -0.25em -0.25em -0.25em;
	font-weight: 700;
	text-transform: uppercase;
}

/* You’ll need to add a span element to your HTML. */
h1 span { 	
	font-family: "bely", serif;
	font-style: italic;
	font-weight: 400;
    font-size: 40px;
	text-transform: lowercase;
    padding: 0.1em;
}

h2 {
	background-color: #999AA9;
	color: #FAF9F6;
	font-size: 30px;
	margin: -1em -0.3em -1em -0.3em;
    padding: 0.7em 2em 0.75em 0.7em;
	font-family: _______;
	font-weight: 550;
    font-size: 27px;
}

h3 {
	margin: -0.3em 0.6em 0.3em; /*Three values again. You got the idea.*/
	padding-top: ____;
	font-size: 20px;
	color: #AD322B;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.1em; /*Just an extra tracking for bold uppercase letters. Try 0.1em */
	border-top: ___ ___ ___;
    
}

h4 {
    font-family: "neue-haas-grotesk-display", sans-serif;
	font-weight: 900;
    margin-bottom: -1em;
    
}

p.description {
    font-family: "massilia", sans-serif;
	font-style: italic;
    font-weight: lighter;
    margin-bottom: -1em;
}

p.price {
	color: #B43C3E;
    font-family: "elza-text", sans-serif;
    font-weight: 500;
}

ul {
	margin: -0.5em -1.8em;
    margin-right: auto;
}

li { 
	margin: ____ ____;
	list-style-type: none;
}

hr {
    margin-left: 0.7em;
    margin-right: 0.3em;
    margin-top: 5em;
}